<div id="list">

    <h1>Todo List</h1>
    <div class="panel panel-default">
        <div class="panel-heading heading"><input id="listTodo" class="form-control" type="text" placeholder="What needs todo done" value="<%= name %>" /></div>
        <div class="panel-heading heading"><span class="remaining">0 of 0 remaining </span><span class="total">Total Items : 0</span></div>

        <table class="table">
            <thead>
            <tr>
                <th class="check">check</th>
                <th class="title">Todos</th>
                <th class="action">Action</th>
            </tr>
            </thead>
            <tbody id="todo-list">

            </tbody>

        </table>

    </div>

</div>
