<div id="set_pass">
    <h1>Set Password</h1>
    <p class="error hides"> </p>
    <form >
        <div class="input-group gap">
            <span class="input-group-addon font">Old Password </span>
            <input class="form-control" type="password" id="oldpassword" placeholder="Old Password" />
        </div>

        <div class="input-group gap">
            <span class="input-group-addon font"> Password </span>
            <input class="form-control" type="password" id="password" placeholder="Password" />
        </div>
        <div class="input-group gap">
            <span class="input-group-addon font"> Re-Password </span>
            <input class="form-control" type="password" id="repassword" placeholder="Confirm Password" />
        </div>


        <button  id="setPassBtn" class="btn btn-info button">Update Password
            <i class="fa fa-spinner fa-spin hides"></i>
        </button>
    </form>
</div>